.slider {
  margin-top: 20px;
  width: 100%;
  background-image: $color_slider_background;
  &__container{
    display: flex;
    margin: 0 auto;
    height: 90vh;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__image {
    background-image: url("../images/black_chair.png");
    height: 200px;
    width: 200px;
    margin-top: -100px;
    background-size: cover;
    background-position: center;
  }
  &__content {
    height: 30%;
    font-size: 18px;
    &--title {
      text-transform: uppercase;
      font-size: $font_size_title;
      font-weight: 700;
      margin-bottom: 10px;
    }
    &--greentext{
      color: $color_theme;
      font-weight: $font_weight_green;
    }
  }
  &__button {
    @include button_slider;
  }
}