@mixin button_slider {
  background-color: $color_main;
  border: 0;
  margin-top: 20px;
  height: 35px;
  width: 170px;
  font-weight: 600;
  color: $color_white;
  border-radius: 10px;
  font-size: 5em;
}