$color_theme: #39BF9F;
$color_form: rgba(57, 191, 159, 0.4);
$color_secondary_font: dimgray;
$color_header_background: black;
$color_white_font: white;
$color_slider_background: linear-gradient(white 70%, #cfced3);
$color_opacitybox: rgba(255,255,255, 0.5);
$color_border: lightgrey;